/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */


.axis path,
.axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
  opacity: 1;
}

.axis text { font-size:10px; }

text.label {
  font-weight: normal;
}

body { font: 12px sans-serif; }

.guide line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  opacity: 0;
}

#videomodal {
  width: 800px;
}
